.headerparent{
    display: flex;
    height: 100px;
    background-color: #121212;
    align-items: center;
    justify-content: space-between;
}

.headerlogo{
    height: 45px;
   
}

.logoutbtn{
        color: #e91e63;
        background-color: black;
        width: 57px;
        
        border: 1px solid white;
        border-radius: 5px;
    }

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.linkes{
    margin-right: 20px;
    display: flex;
    justify-content: space-evenly;
    color: #e91e63;

}

a{
    text-decoration: none;
    margin-right: 30px;
    color: #e91e63;
    font-size: large;
}
a:hover{
    color: #ff80ab;
    border:2px solid #e91e63;
}
.active{
    font-size: larger;
    font-weight: 900;
    color: #ff80ab;
}