<div class="profile-container">
  <div class="profile-card">
    <img src="logo.png" alt="Profile Picture" class="profile-img" />

    <h2 class="name">{{ dbname }}</h2>
    <p class="role">{{ role }}</p>

    <form [formGroup]="profileForm" (ngSubmit)="update()">
      <label>
        Full Name:
        <input type="text" formControlName="name" />
      </label>

      <label>
        Email Address:
        <input type="email" formControlName="email" />
      </label>

      <label>
        Phone Number:
        <input type="text" formControlName="mobile" />
      </label>

      <label>
        City:
        <input type="text" formControlName="address" />
      </label>

      <label>
        Preferred Event Type:
        <input type="text" formControlName="preferedeventtype" />
      </label>

      <label>
        Upcoming Booking:
        <input type="text" value="Mehta Wedding - 20 June 2025" disabled />
      </label>

      <div class="btn-group">
        <button type="submit">Save</button>
        <button type="button">Cancel</button>
      </div>
    </form>
  </div>
</div>
